{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <h1>{{cat}}</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
    {% for post in posts %}
        {% if post.featured %}
            <div class="col">
                <div class="card shadow-sm h-100 d-flex flex-colum">
                    <a href="{% url 'post_detail' slug=post.slug %}">
                        <img src="{{ post.featured.url }}" alt="featured_image" style="height:200px; width:100%; border: black; object-fit: cover; " class="bd-placeholder-img card-img-top"/>
                    </a>    

            
                    {% endif %}
                    <div class="card-body flex-grow-1">
                        <article class="post">
                            <h2 class="card-text"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                            <p class="card-text">{{ post.text|linebreaksbr| truncatewords:20 }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div >
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'category' slug=post.category.slug %}">{{post.category}}</a>
                                </div>
                                <small class="text-body-secondary">
                                    <time class="date">
                                        {{ post.published_date }}
                                    </time>
                                </small>    
                            </div>
                        </article>
                    </div>
                </div>
            </div>  
    {% endfor %}
    </div>
</div>


{% endblock %}