{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
    {% for post in posts %}
        {% if post.featured and post.featured.name %}
            <div class="col">
                <div class="card shadow-sm h-100 d-flex flex-colum">
                    {% if post.thumbnail %}
                    <a href="{% url 'post_detail' slug=post.slug %}">
                        <img src="{{ post.thumbnail.url }}" alt="featured_image" style="height:200px; width:100%; border: black; object-fit: cover; " class="bd-placeholder-img card-img-top"/>
                    </a> 
                    {% endif %}

            
                    {% endif %}
                    <div class="card-body flex-grow-1">
                        <article class="post">
                            <h2 class="card-text"><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
                            <p class="card-text">{{ post.text|linebreaksbr| truncatewords:20 }}</p>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <div >
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'category' slug=post.category.slug %}">{{post.category}}</a>
                                </div>
                                <small class="text-body-secondary">
                                    <time class="date">
                                        {{ post.published_date }}
                                    </time>
                                </small>    
                            </div>
                           <div class="d-flex flex-wrap  align-items-start gap-2"> 
                                {% for tag in post.tag.all %} 
                                    <a class="btn btn-secondary btn-sm" href="{% url 'tags' slug=tag.slug %}">{{ tag }}</a> 
                                {% endfor %} 
                            </div>
                        </article>
                    </div>
                </div>
            </div>  
    {% endfor %}
    </div>
</div>
{% endblock %}