{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <article class="post">
        <div class="d-flex justify-content-end align-items-center mb-2 gap-3">
            {% if post.published_date %}
                <time class="date">
                    {{ post.published_date }}
                </time>
            {% endif %}
            
            {% if user.is_authenticated and post.author == user %}
                <aside class="actions">
                    <a class="btn btn-secondary" href="{% url 'post_edit' slug=post.slug %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                </aside>
            {% endif %}
        </div> 
        <h2 class="mb-4">{{ post.title }}</h2>
        {% if post.featured %}
            <div class="w-100 mb-4">
                <img src="{{ post.featured.url }}" alt="thumbnail" style="width: 100%; height: 350px; object-fit: cover; border-radius: 8px;" />
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="d-flex gap-4 mb-3">

                    <h6>Category: {{post.category}}</h6>
                    <h6>Author: {{post.author}}</h6>
                </div>
                <div class="post-content mb-4">
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                <div class="mb-4">
                    <p class="fw-bold mb-2">Tags:</p>    
                    <div class="d-flex flex-wrap gap-2">
                    {% for tag in tags %}
                        
                      <a href="{% url 'tags' slug=tag.slug %}" class="btn btn-outline-secondary">{{tag}}</a>
                    {% endfor %}
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4 col-10 text-md mt-4">
                <div class="mb-4">
                    <h3> Categories </h3>
                    <div class="d-flex flex-wrap gap-2 justify-content-end">
                    {% for cat in cats %}
                        <a href="{% url 'category' slug=cat.slug%}" class="btn btn-secondary btn-sm">{{cat}}</a>
                    {% endfor %}
                    </div>
                </div>  
                <div>
                    <h3>Tags</h3>
                    {% for tag in all_tag %}
                        <a href="{% url 'tags' slug=tag.slug %}" class="btn btn-secondary btn-sm">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>


    </article>
</div>
{% endblock %}